<!DOCTYPE html>
<html lang="en">
     <head>
          <meta name="viewport" content="width=device-width, initial-scale=1">
	      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 
          		  
	 </head>
	 
	<body>
	 
	    <div class="container">
		  {% for doc in all_doctors %}
            <div class="row pt-4  pb-4">
			  <div class="col-sm-6 ">
			   <div class="row" >
                <div class="col-sm-2 pl-0" >
                   <img class="img-circle" src="{{doc.img.url}}" style="width:100px; height:100px;" onclick="location.href='doc/'">
                </div>
                <div class="col-sm-8" >
                   <p>{{doc.name}} <br> {{doc.specialist}}</p>
                </div>
				</div>
			 </div>
			 
			 <div class="col-sm-6 ">
			    <div class="row ">
                <div class="col-sm-2 pl-0">
                   <img class="img-circle" src="{{doc.img.url}}" style="width:100px; height:100px;" onclick="location.href='doc/'">
                </div>
                <div class="col-sm-8 " >
                   <p>{{doc.name}} <br>{{doc.specialist}}</p>
                </div>
				</div>
			 </div>
 
             </div>
			{% endfor %}
         </div>
	 
	</body>

</html>